@model List<ApplicationUser>
@{
    ViewData["Title"] = "Index";
}


<h2>Admin Index</h2>

<a asp-action="CreateUser">Create User</a>

<div>
    <div>
        @*<form method="get">*@
        <form method="post" asp-controller="Admin" asp-action="Index"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-mode="replace"
              data-ajax-update="#users-list-form">
            <input type="text" name="value" />
            <input type="submit" value="Search" />
        </form>
    </div>

    <partial name="_AdminUserList.cshtml" model="Model" />

</div>

<div> User Search </div>
<div> User CRUD </div>


