@model List<MVCFacebook.Models.Friendship>

<div>

    @foreach (var item in Model)
    {

        <a asp-action="Profile" asp-route-username="@item.User1.UserName">@item.User1.UserName</a>
        <form asp-action="AcceptFriendRequest" asp-route-id="@item.User1.Id" asp-route-return="FRequest"
              method="post"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-mode="replace"
              data-ajax-update="#Friends">
            <input type="submit" value=Accept />
        </form>

        <form asp-action="RemoveFriend" asp-route-id="@item.User1.Id" asp-route-return="FRequest"
              method="post"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-mode="replace"
              data-ajax-update="#Friends">
            <input type="submit" value=Reject  />
        </form>

        
    }

</div>