@model MVCFacebook.Models.ApplicationUser

@inject UserManager<ApplicationUser> Usermanager
@inject ApplicationDbContext context

<div id="FriendshipInteraction">
    @if (Model.Id != Usermanager.GetUserId(User))
    {
        @if (Model.FriendRequestsSent.Any(F => F.User2ID == Usermanager.GetUserId(User) && F.Pending && F.User2!= null))
        {
            <form method="post" asp-route-id="@Model.Id" asp-route-returnPartial="FButton" asp-action="AcceptFriendRequest"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-mode="replace"
                  data-ajax-update="#FriendshipInteraction">
                <input type="submit" value="Accept Friend" class="btn btn-outline-success my-2 my-sm-0" />
            </form>
            <div id="rejBtn2">
                <form asp-action="RemoveFriend" method="post" asp-route-id="@Model.Id" asp-route-returnPartial="FButton"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-mode="replace"
                  data-ajax-update="#FriendshipInteraction">
                    <input type="submit" value=Reject class="btn btn-outline-success " />
                </form>
            </div>
        }
        else if (Model.FriendRequestsRecieved.Any(F => F.User1ID == Usermanager.GetUserId(User) && F.Pending))
        {
            <label> Friendship Pending </label>
        }
        else if (Model.Friends.Any(F => F.Id == Usermanager.GetUserId(User)))
        {
            <form method="post" asp-action="RemoveFriend" asp-route-returnPartial="FButton" asp-route-id="@Model.Id"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-mode="replace"
                  data-ajax-update="#FriendshipInteraction">
                <input type="submit" value="Remove Friend" class="btn btn-outline-success my-2 my-sm-0" />
            </form>
        }
        else
        {
            <form method="post" asp-route-id="@Model.Id" asp-action="SendFriendRequest"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-mode="replace"
                  data-ajax-update="#FriendshipInteraction">
                <input type="submit" value="Add Friend" class="btn btn-outline-success my-2 my-sm-0" />
            </form>
        }
    }
</div>