@model MVCFacebook.Models.ApplicationUser
@inject UserManager<ApplicationUser> Usermanager
@inject SignInManager<ApplicationUser> Signinmanager
@inject ApplicationDbContext context
<div id="Friends">

    @if (Model.Id == Usermanager.GetUserId(User))
    {
        <partial name="_FriendRequests.cshtml" model="@Model.getPendingFriendRequests(context)" />
    }
    <label>Friends</label><br />
    @foreach (var item in Model.Friends)
    {
        <div>
            <a asp-action="Profile" asp-route-username="@item.UserName">@($"{item.FirstName} {item.LastName}")</a>
        </div>
    }
</div>

