@model MVCFacebook.Models.UserViewModels.EditInfoViewModel

@{
    ViewData["Title"] = "EditInfo";
}

<br />
<br />
<br />
<br />

<div class="col-md-6 p-3 border-success border rounded-lg container">
    <h2>Edit User Info</h2>
    <hr class="border-success" />

    <form asp-action="EditInfo" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label><br />
            <input asp-for="FirstName" class="rounded-pill comment-box" />
        </div>
        <div class="form-group">
            <label asp-for="Lastname" class="control-label"></label><br />
            <input asp-for="Lastname" class="rounded-pill comment-box" />
        </div>
        <div class="form-group">
            <label asp-for="Biography" class="control-label"></label><br />
            <input asp-for="Biography" class="rounded-pill comment-box" />
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-outline-success my-2 my-sm-0 rounded-pill" />
        </div>
    </form>
</div>

