@model ICollection<Post>
@{
    ViewData["Title"] = "Home";
}
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext context
    <br />
    <br />
    <br />
    <div class="PageContainer">
        <partial name="_addPost" />
        <div id="listPost">
            <partial name="_listPosts" model="Model" />
        </div>
    </div>