@model MVCFacebook.Models.ApplicationUser
@{
    ViewData["Title"] = "Profile";
}
@inject UserManager<ApplicationUser> Usermanager
@inject SignInManager<ApplicationUser> Signinmanager
@inject ApplicationDbContext context

<div class="profilePageInfo" id="UserInfo">

    <partial name="_UserInfo" model="Model" />
</div>

    <div class="profilePagePostsContainer">
        @if (Model.Id == Usermanager.GetUserId(User))
        {
            <partial name="_addPost" />
        }
        <div id="listPost">
            <partial name="_listPosts" model="Model.Posts.OrderByDescending(p=>p.CreationDate).ToList()" />
        </div>
    </div>
