@model List<ApplicationUser>
@{
    ViewData["Title"] = "Search";
}

<h2>SearchResults</h2>
@foreach (var item in Model)
{
    <a asp-action="Profile" asp-controller="User" asp-route-username="@item.UserName">@item.UserName</a>
    <br />
}
