
@{
    ViewData["Title"] = "Settings";
}

<h2>Settings</h2>

<div>

    <form asp-action="EditPassword" asp-controller="User" method="post">
        <label>Enter your old password</label>
        <input type="password" name="oldPassword" />
        <label>Enter the new password</label>
        <input type="password" name="newPassword" />
        <label>Confirm password</label>
        <input type="password" name="confirmPassword" />
        <input type="submit" />
    </form>

</div>
