
@{
    ViewData["Title"] = "Settings";
}


<br />
<br />
<br />
<div class="col-md-6 p-3 border-success border rounded-lg container">
    <h2>Settings</h2>
    <hr class="border-success"/>
    <form asp-action="EditPassword" asp-controller="User" method="post">
        <label>Enter your old password</label><br />
        <input type="password" name="oldPassword" class="rounded-pill comment-box" /><br />
        <label>Enter the new password</label><br />
        <input type="password" name="newPassword" class="rounded-pill comment-box" /><br />
        <label>Confirm password</label><br />
        <input type="password" name="confirmPassword" class="rounded-pill comment-box" /><br />
        <br />
        <input type="submit" class="btn btn-outline-success my-2 my-sm-0 rounded-pill" /><br />
    </form>

</div>
