@model List<MVCFacebook.Models.ApplicationUser>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form method="post">
    @foreach (var item in Model)
    {
        <a asp-action="Profile" asp-route-username="@item.UserName">@item.UserName</a>
        <input type="submit" value=Accept asp-route-id="@item.Id" asp-action="AcceptFriendRequest" />
        <input type="submit" value=Reject asp-route-id="@item.Id" asp-action="RejectFriendRequest" />
    }
</form>
