<div id="addPost" >
    <form method="post" asp-action="addPost" asp-controller="User"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="#listPost"
          asp-route-source=@Context.Request.Path
              >
        <textarea class="form-control" placeholder="what's on your mind!!" name="post" id="txt" ></textarea>
        <div class="PostButtonContainer">
            <input type="submit" value="Post" class="btn btn-outline-success my-2 my-sm-0"/>
        </div>
    </form>
</div>


