<div>
    <form method="post">
        <textarea placeholder="what's in your mind!!"  name="post"></textarea>
        <input type="submit" value="Post" asp-action="addPost" asp-controller="User" />
    </form>
</div>