@model Post
<div>
    
    <form method="post" asp-action="addComment" asp-controller="User" asp-route-postID=@Model.ID
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="@($"#comments_{Model.ID}")"
            >
        
        <input class="rounded-pill comment-box" type="text" placeholder="write here!" name="commentText" id='@($"commentTxt_{Model.ID}")'/>
        
        <input type="submit" value="Comment" class="btn btn-outline-success my-2 my-sm-0 rounded-pill comment-submit"/>

    </form>
</div>


