@model UserComment
@inject UserManager<ApplicationUser> Usermanager

<div style="position:relative">

    <p> @($"{Model.CommentingUser.FirstName} {Model.CommentingUser.LastName}") </p>

    <div> @Model.CommentText </div>
    @if (Usermanager.GetUserId(User) == Model.CommentingUser.Id || Usermanager.GetUserId(User) == Model.CommentedPost.Creator.Id)
    {
        <form method="post" data-ajax="true"
              data-ajax-method="POST"
              data-ajax-mode="replace"
              data-ajax-update="@($"#comments_{Model.PostID}")"
              asp-action="DeleteComment"
              asp-route-commentId=@Model.ID
              asp-route-postId=@Model.PostID>
            <input type="submit" value="x" class="btn btn-dark close del-button">
        </form>
    }
</div>
