<table>
    @foreach(var item in ViewBag.posts)
    {
        ViewBag.post = item;
        <tr>
            <td>
                <partial name="_post" />
            </td>
        </tr>
    }
</table>
