@model ICollection<Post>

   <script>
       document.getElementById("txt").value = "";
   </script>
    <table>
        @foreach (var item in Model)
        {   
            <tr>
                <td>
                    <partial name="_post" model="item"/>
                </td>
            </tr>
        }
    </table>


