@model ICollection<Post>

   <script>
       document.getElementById("txt").value = "";
   </script>

    <div>
        @foreach (var item in Model)
        {   
                    <partial name="_post" model="item"/>
        }
    </div>


