@model Post
<span>@Model.Text</span>
<form method="post"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#listPost"
      asp-action="DeletePost"
      asp-route-post=@Model.ID
      asp-route-source=@Context.Request.Path
        >
    
    <input type="submit" value="x" class="btn btn-danger">
</form>
<div id="@($"like_{Model.ID}")">
    <partial name="_likes" model="Model" />
</div>
<div id="@($"comments_{Model.ID}")">
    <partial name="_listComments" model="Model" />
    
</div>