@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form method="get" asp-action="Search" asp-controller="User">
    <input type="text" name="searchText" />
    <input type="submit" />
</form>