      <form method="get" asp-action="Search" asp-controller="User">
          <input type="text" name="searchText" style="vertical-align:middle" />
          <input type="submit" value="Search" style="vertical-align:middle" />
      </form>

